In [6]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

data = pd.read_csv('data/full_clean_data.csv')

# Split the cpvCode column
data['cpv'] = data['cpvCode'].str.split('-', expand=True)[0]
data['cpvCategory'] = data['cpv'].str.slice(stop=5)

data = data.drop([
    'cpv',
    'currencyCode',
    'cpvCodeType',
    'organizationName',
], axis=1)

# add one-hot encoded columns to the cpvCode categorical data
data_encoded = pd.get_dummies(data, columns=['cpvCode'])
data = data_encoded

# apply Label Encoding to the categorical columns
columns_to_encode = [
    'noticeNo',
    'title',
    'publicationDate',
    'contractingAuthorityName',
    'cpvCodeName',
    'cNoticeNo',
    'cNoticePublicationDate',
    'cNoticeTitle',
    'cpvCategory',
    'countyCode',
]

# add label encoding to the other categorical columns
label_encoder = LabelEncoder()
for col in columns_to_encode:
    data[col] = label_encoder.fit_transform(data[col])

data.to_csv('data/best_encoded_data.csv', index=False)

In [7]:
data = pd.read_csv('data/best_encoded_data.csv')
data

,noticeNo,contractValue,title,publicationDate,countyCode,contractingAuthorityName,cpvCodeName,cNoticeNo,cNoticeEstimatedContractValue,cNoticePublicationDate,...,cpvCode_98310000-9,cpvCode_98312000-3,cpvCode_98341000-5,cpvCode_98341130-5,cpvCode_98351110-2,cpvCode_98363000-5,cpvCode_98371120-1,cpvCode_98392000-7,cpvCode_98393000-4,cpvCode_98395000-8
0,20022,133657.00,13374,14808,11,658,620,19983,153780.00,15826,...,0,0,0,0,0,0,0,0,0,0
1,20025,151470.00,11992,14808,32,1431,85,19797,152340.00,15633,...,0,0,0,0,0,0,0,0,0,0
2,20024,850446.00,11063,14808,18,1423,926,19987,850446.12,15830,...,0,0,0,0,0,0,0,0,0,0
3,20020,720948.00,16517,14808,18,1423,47,20023,720948.00,15867,...,0,0,0,0,0,0,0,0,0,0
4,20009,28510.00,10109,14808,17,1003,850,19869,45000.00,15719,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20022,100,240631.20,11664,45,33,85,855,74,301539.00,73,...,0,0,0,0,0,0,0,0,0,0
20023,62,238200.00,11565,40,3,1448,908,990,238200.00,775,...,0,0,0,0,0,0,0,0,0,0
20024,40,65000.00,15129,32,18,497,892,891,65000.00,702,...,0,0,0,0,0,0,0,0,0,0
20025,44,963067.32,2030,30,19,1006,824,656,1801498.00,553,...,0,0,0,0,0,0,0,0,0,0
20026,32,562000.00,15128,16,18,497,892,894,612000.00,701,...,0,0,0,0,0,0,0,0,0,0

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

data = pd.read_csv('data/full_clean_data.csv')

# Split the cpvCode column
data['cpv'] = data['cpvCode'].str.split('-', expand=True)[0]
data['cpvCategory'] = data['cpv'].str.slice(stop=5)

data = data.drop([
    'cpv',
    'currencyCode',
    'cpvCodeType',
    'organizationName',
], axis=1)

# apply Label Encoding to the categorical columns
columns_to_encode = [
    'cpvCode',
    'noticeNo',
    'title',
    'publicationDate',
    'contractingAuthorityName',
    'cpvCodeName',
    'cNoticeNo',
    'cNoticePublicationDate',
    'cNoticeTitle',
    'cpvCategory',
    'countyCode',
]

# add label encoding to the other categorical columns
label_encoder = LabelEncoder()
for col in columns_to_encode:
    data[col] = label_encoder.fit_transform(data[col])

data.to_csv('data/label_encoded_data.csv', index=False)

data

,noticeNo,contractValue,title,publicationDate,countyCode,contractingAuthorityName,cpvCodeName,cpvCode,cNoticeNo,cNoticeEstimatedContractValue,cNoticePublicationDate,cNoticeTitle,organizationId,cpvCategory
0,20022,133657.00,13374,14808,11,658,620,1067,19983,153780.00,15826,13055,91285,549
1,20025,151470.00,11992,14808,32,1431,85,305,19797,152340.00,15633,11500,239573,38
2,20024,850446.00,11063,14808,18,1423,926,405,19987,850446.12,15830,10024,287074,85
3,20020,720948.00,16517,14808,18,1423,47,540,20023,720948.00,15867,419,292011,180
4,20009,28510.00,10109,14808,17,1003,850,828,19869,45000.00,15719,9513,293608,363
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20022,100,240631.20,11664,45,33,85,855,684,74,301539.00,73,11141,77258,285
20023,62,238200.00,11565,40,3,1448,908,465,990,238200.00,775,11021,1063,119
20024,40,65000.00,15129,32,18,497,892,384,891,65000.00,702,14989,61650,76
20025,44,963067.32,2030,30,19,1006,824,957,656,1801498.00,553,2127,77200,466
20026,32,562000.00,15128,16,18,497,892,384,894,612000.00,701,14988,77189,76