In [4]:
import pandas as pd

data = pd.read_csv('data/processed_data.csv')

# Drop irrelevant columns
data.drop(['index',
           'noticeNo',
           'title',
           'countyCode',
           'contractValue',
           'cpvCodeType',
           'cNoticeEstimatedContractValue',
           'currencyCode',
           'publicationDate',
           'contractingAuthorityName',
           'cpvCodeName',
           'cNoticeNo',
           'cNoticePublicationDate',
           'cNoticeTitle',
           'organizationName'],
          axis=1, inplace=True)

data

          cpvCode  organizationId
0      90910000-9           91285
1      45262640-9          239573
2      50221000-0          287074
3      60170000-0          292011
4      72413000-8          293608
...           ...             ...
24616  71322000-1           77258
24617  50421000-2            1063
24618  50112000-3           61650
24619  79713000-5           77200
24620  50112000-3           77189

[24621 rows x 2 columns]

In [5]:
cpv_dummies = pd.get_dummies(data['cpvCode'], prefix='cpv')

# Concatenate the original data frame with the one-hot encoded columns
data = pd.concat([data, cpv_dummies], axis=1)

# Drop the original cpvCode, cpvCategory, and cpvSubcategory columns
data.drop(['cpvCode'], axis=1, inplace=True)

data

,organizationId,cpv_45000000-7,cpv_45100000-8,cpv_45110000-1,cpv_45111000-8,cpv_45111100-9,cpv_45111220-6,cpv_45111230-9,cpv_45111260-8,cpv_45111290-7,...,cpv_98341130-5,cpv_98341140-8,cpv_98351110-2,cpv_98363000-5,cpv_98371111-5,cpv_98371120-1,cpv_98390000-3,cpv_98392000-7,cpv_98393000-4,cpv_98395000-8
0,91285,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,239573,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,287074,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,292011,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,293608,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24616,77258,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24617,1063,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24618,61650,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24619,77200,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24620,77189,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0